.certification {
  margin-bottom: 40px;

  .certification__wrapper {
    display: flex;
    align-items: center;
  }

  .certification__image {
    width: 60%;
    display: block;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 70%;
    }
  }

  .certification__content {
    width: 60%;
    padding: 50px;
    margin-left: -5%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .certification__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .certification__title {
      margin-bottom: 20px;
      font-size: 20px;
      color:$green;
      
      a {
        color: $dark;
        &:hover {
          color: $black;
        }
      }
    }

    .certification__excerpt {
      display:none;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .certification__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .certification__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $gray;
        &:hover {
          color: $dark;
          border-color: $brand-color;
        }
      }
    }
  }

  .certification-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .certification__wrapper {
      flex-direction: column;
    }

    .certification__image {
      width: 100%;
    }

    .certification__content {
      width: 90%;
      padding: 20px;
      margin: -10% 0 0 0;
    }

    .certification-without-image {
      width: 90%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .certification__content {

      .certification__title {
        font-size: 27px;
      }
    }
  }
}