.certification {
  margin-bottom: 40px;

  .certification__wrapper {
    display: flex;
    align-items: center;
  }

  .certification__image {
    width: 60%;
    display: block;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 70%;
    }
  }

  .certification__content {
    width: 60%;
    padding: 50px;
    margin-left: -5%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .certification__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .certification__title {
      margin-bottom: 20px;
      font-size: 20px;
      color:$green;
      
      a {
        color: $dark;
        &:hover {
          color: $black;
        }
      }
    }

    .certification__excerpt {
      display:none;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .certification__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .certification__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $gray;
        &:hover {
          color: $dark;
          border-color: $brand-color;
        }
      }
    }
  }

  .certification-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .certification__wrapper {
      flex-direction: column;
    }

    .certification__image {
      width: 100%;
      display:none;
    }

    

    .certification__content {
      width: 90%;
      padding: 10px;
      margin: -10% 0 0 0;
    }

    .certification-without-image {
      width: 90%;
      margin: 0;
    }

    

    .certification__tag {
      font-size:8px;
    }
  }

  @media only screen and (max-width: $mobile) {
    .certification {
      .container {
        padding:0px;
      }
    }
    
    .certification__content {

      .certification__title {
        font-size: 12px;
      }

      .certification__content {
        padding:2px;
      }

      .certification__tag {
        font-size:8px;
      }

      .certification__image{
        display: none;
      }
    }
  }
}

.skill-box {
	width: 100%;
	padding: 15px;
  margin:20px;
	background-color:white;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
	>h3 {
		margin-bottom: 15px;
		color:$brand-color;
	}
	>.skills-circle {
		>ul {
			padding: 0;
			text-align: center;
			list-style-type: none;
			>li {
				width: 150px;
				height: 150px;
				background-color: #ddd;
				border-radius: 50%;
				position: relative;
				display: inline-block;
				overflow: hidden;
				margin: 10px;
				>span {
					color:$green;
					~ {
						b {
							top: 50%;
							left: 50%;
							position: absolute;
							-webkit-transform: translate(-50%, 20%);
							-ms-transform: translate(-50%, 20%);
							transform: translate(-50%, 20%);
							margin-top: -8px;
							z-index: 1;
							~ {
								b {
									font-weight: normal;
									margin-top: 8px;
								}
							}
						}
					}
				}
				>span.text {
					top: 50%;
					left: 50%;
					position: absolute;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					margin-top: -8px;
					z-index: 1;
					~ {
						b {
							font-weight: normal;
							margin-top: 8px;
						}
					}
				}
				>span.bar-circle-right {
					border-radius: 50%;
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background:$green;
					clip: rect(0, 75px, 150px, 0);
				}
				>span.bar-circle-left {
					border-radius: 50%;
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background: $green;
					clip: rect(0, 75px, 150px, 0);
					background: #ddd;
				}
				>span.bar-circle-cover {
					display: block;
					width: 95%;
					height: 95%;
					border-radius: 50%;
					background-color: #eee;
					z-index: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}