.experiences {
  margin-bottom: 40px;

  .experiences__wrapper {
    display: flex;
    align-items: center;
  }

  .experiences__image {
    width: 50%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 70%;
    }
  }

  .experiences__content {
    width: 60%;
    padding: 50px;
    margin-left: -10%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .experiences__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .experiences-maintitle {
      color:$green;
      font-size: 30px;
      text-transform: uppercase;
    }

    .experiences__logo {
      width: 100px;
      height: 100px;
      display: block;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $light-gray;
      float:right;
      &:hover {
        opacity: 0.9;
      }
  
      &:after {
        content: "";
        display: table;
        width: 50%;
        padding-bottom: 70%;
      }
    }

    .experiences__title {
      margin-bottom: 20px;
      font-size: 30px;
      
      a {
        color: $dark;
        &:hover {
          color: $black;
        }
      }
    }

    .experiences__excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .experiences__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .experiences__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $gray;
        &:hover {
          color: $dark;
          border-color: $brand-color;
        }
      }
    }
  }

  .experiences-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .experiences__wrapper {
      flex-direction: column;
    }

    .experiences__image {
      width: 100%;
    }

    .experiences__content {
      width: 90%;
      padding: 20px;
      margin: -10% 0 0 0;
    }

    .experiences-without-image {
      width: 90%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .experiences__content {

      .experiences__title {
        font-size: 27px;
      }
    }
  }
}