<!-- begin c-hero -->
<div class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-6 col-t-12 last-item">
          <div class="hero__content">
            <h1 class="hero__title">Compétences et Educations</h1>
            <p class="hero__subtitle">Après des études d'<strong>ingénieur en informatique et télécom</strong> à l'<a href="https://www.utbm.fr/">Université de Technologies Belfort Montbéliard</a> j'ai opté 
            pour parfaire ma formation en suivant un Master de Gestion à l'<a href="https://iae.univ-lyon3.fr/">IAE de lyon</a></p>
            <div class="hero__social">
              <span class="hero__social-title">Follow Me |</span>
              {% include contact-link.html %}
            </div>
          </div>
        </div>
        <div class="col col-6 col-t-12">
          <div class="hero__image">
            <img src="{{site.baseurl}}/images/matthieu-petite-1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero -->