<!-- begin c-hero -->
<div class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-6 col-t-12 last-item">
          <div class="hero__content">
            <h1 class="hero__title">Mes expériences</h1>
            <p class="hero__subtitle">Parce que je crois que l'éxpérience humaine en dit long sur les <strong>passions</strong>, les <strong>centres d'intérêts</strong> et les <strong>savoirs faire</strong>, vous trouverez ici une liste non exhauxtives de mes projets</p>
            <div class="hero__social">
              <span class="hero__social-title">Follow Me |</span>
              {% include contact-link.html %}
            </div>
          </div>
        </div>
        <div class="col col-6 col-t-12">
          <div class="hero__image">
            <img src="{{site.baseurl}}/images/matthieu-petite-2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero -->