<!-- begin search -->
<div class="search">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div class="search__group">
            <div class="search__close">
              <i class="ion ion-ios-close-circle-outline"></i>
            </div>
            <label for="js-search-input" class="screen-reader-text">Search for Blog</label>
            <input type="text" id="js-search-input" class="search__text" autocomplete="off" placeholder="Type to search">
          </div>
          <ul id="js-results-container" class="search-results-list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search -->