<div class="container">
  <div class="subscribe">
    <h3 class="subscribe__title">Subscribe</h3>
    <p class="subscribe__subtitle">Stay up to date! Get all the latest & greatest posts delivered straight to your inbox.</p>
    <form class="subscribe-form validate" action="{% if site.data.settings.mailchimp %}//{{site.data.settings.mailchimp}}{% else %}#{% endif %}"
      method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="subscribe-group">
        <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
        <input class="subscribe__email required email" id="mce-EMAIL" type="text" name="EMAIL"
          placeholder="Enter your email...">
      </div>
      <input class="subscribe__button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
    </form>
  </div>
</div>