---
layout: default
---
{% include competences-intro.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			<h4 class="lates-title">Certifications</h4>

			{% if site.certifications.size > 0 %}
				{% for certification in site.certifications  %}
				{{ site.certifications.size }}
					{% include certification-content.html  %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<h4 class="lates-title">Compétences</h4>
		</div>
		
	{% assign sortedExperiences = site.experiences | sort: 'order' | reverse %}
	{% if site.experiences.size > 0 %}
		{% for experience in sortedExperiences  %}
            {% include experience-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
